{% extends "mhapp/base.html" %}

{% block title %}Manage Alerts - MHT{% endblock %}
{% load add_css %}
{% block content %}


<div>
        <h1>Manage Alerts</h1>
        <form class="form-horizontal" role="form" action="" method="post">

            {% csrf_token %}
            <table class="table table-bordered table-condensed">
              <th>ID</th>
              <th>Question</th>
              <th>Threshold</th>

			  <th>Threshold Type</th>
			  <th>Alert Message</th>
        <th>Delete?</th>
              {{ qformset.management_form }}
              {% for form in qformset %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
              <tr>

                  <td>{{form.initial.id}}</td>
                  {% for field in form.visible_fields %}

                        <td>{{ field|addcss:"form-control"}}</td>

                  {% endfor %}

                </tr>
                  {%endfor%}

            </table>
          </br>
			<table class="table table-bordered table-condensed">
              <th>ID</th>
              <th>Report Type</th>
              <th>Threshold</th>
			  <th>Threshold Type</th>
			  <th>Alert Message</th>
        <th>Delete?</th>
              {{ rformset.management_form }}
              {% for form in rformset %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
              <tr>

                  <td>{{form.initial.id}}</td>
                  {% for field in form.visible_fields %}

                        <td>{{ field|addcss:"form-control"}}</td>

                  {% endfor %}

                </tr>
                  {%endfor%}

            </table>
            <div class="row">
                <div class="col-md-6 col-md-offset-8"  >
                    <input type="Submit"  value="Save Changes" id="submitButton" class="btn btn-primary"></input>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
